doctype html
html(lang='en')
  head
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-163708086-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-163708086-1');
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Succcess
    link(rel='icon', href='/logo.png', type='image/icon type')
    link(rel="stylesheet", href="/regformstyle.css")
    script(src="https://kit.fontawesome.com/714b8ed437.js",crossorigin="anonymous")
  body
    #imgcon
        a(href="/")
            img(src='/logo.png', alt='GameRewards.tech')
    #maincon
        h1.prihea Registration Successfull
        p(style="margin-top: 15px;") 
            |Congratulation You have successfully registered for 
            | game
            | match , Now you can check the 
            a(href="/Notification") Notification pannel 
            |for more info about the matches and the dates of the match will be upadated there only so yo can check them out even then we will mail you once the you some time before the match so that you can join on time.
        .inpbox
            .dis
                i.fa.fa-user.cla
                h2.place.med=name
            .dis
                i.fa.fa-envelope.cla
                h2.place.med Email : 
                h2.place.med=email
            .dis
                i.fa.fa-gamepad.cla
                h2.place.med=gameid
            .dis
                i.fa.fa-phone-square.cla
                h2.place.med=phone
            .dis
                i.fa.fa-file-image-o.cla
                h2.place.med=upload
            .dis
                i.fa.fa-money.cla
                h2.place.med=paymentid
            .dis
                i.fa.fa-money.cla
                h2.place.med=regid
        p(style="margin: 0 0 15px 0;")
            b(style="font-size:1.1rem;")
                |Note :
            | Your Registration will be cancelled if you payment screenshot was found fake or if you have uploaded any other image You can Contact our support in case of any query.
        a(href="/")
            button.btn1|Go to Homepage
    footer
        |All &copy; Rights are Reserved by Gamerewards.tech